    {%- assign extension = include.file | split: '.' | last -%}
    {%- case extension -%}
    {%- when 'pdf' -%}
        {%- assign icon = '/assets/img/file_type_pdf.svg' -%}
    {%- when 'mp3' -%}
        {%- assign icon = '/assets/img/file_type_audio.svg' -%}
    {%- when 'mid' -%}
        {%- assign icon = '/assets/img/midi.jfif' -%}
    {%- when 'sib' -%}
        {%- assign icon = '/assets/img/sibelius.jfif' -%}
    {%- else -%}
        {%- assign icon = '/assets/img/default_file.svg' -%}
    {%- endcase -%}
    
    <img title="{{ include.description }}" src="{{icon}}" style="width: 1em; height: 1em" />
