@charset "utf-8";
.site-title {
    //    @include relative-font-size(1.625);
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-size: 40px;
    line-height: $base-line-height * $base-font-size * 2.25;
}

pre,
code {
    font-family: $monospace-font-family;
}

.post-meta {
    .dt-published {
        font-family: $monospace-font-family;
        font-weight: 700;
    }
}

.site-header {
    border-top: 0;
    min-height: $spacing-unit * 1.865;
    background: $brand-color;
    /* Old browsers */
    background: -moz-linear-gradient(top, $brand-color 0%, darken($brand-color, 10%) 50%, $brand-color 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $brand-color 0%, darken($brand-color, 10%) 50%, $brand-color 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $brand-color 0%, darken($brand-color, 10%) 50%, $brand-color 100%);
    color: white;
    a:visited {
        color: white;
    }
}

.feed-subscribe {
    display: none;
}