@charset "utf-8";
$monospace-font-family: "Cousine";
$brand-color: #f70709 !default;

.card {
    float: left;
    text-align: center;
    padding-left: 10px;
    img {
        width: 100px;
        height: 100px;
    }
}

.instrumentation {
    text-transform: uppercase;
    list-style: none;
}

audio {
    width: 70%;
    padding-bottom: 10px;
}

audio:focus {
    outline: none;
}
