@using SWGen.FileSystems
@inherits TemplatePage<AudioInfo>

@{
    RelativePathEx workDir = Model.WorkDir;
    var workKey = Model.MovementKey;
    var absPath = Model.ProjectRoot / workDir / (workKey + ".mp3");
    var audioUrl = (workDir / (workKey + ".mp3")).Url();
}


@if (await Model.Fs.File.ExistsAsync(absPath))
{
<div class="player">
    <audio>
        <source src="@audioUrl" type="audio/mpeg">
    </audio>
</div>
}            
