// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.card {
    float: left;
    text-align: center;
    padding-left: 10px;
    img {
        width: 100px;
        height: 100px;
    }
}

.instrumentation {
    text-transform: uppercase;
    list-style: none;
}

.audio-container {
    text-align: center;
}

audio {
    width: 70%;
    padding-bottom: 10px;
}

audio:focus {
    outline: none;
}

.site-title {
    //    @include relative-font-size(1.625);
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-size: 40px;
    line-height: $base-line-height * $base-font-size * 2.25;
}

pre,
code {
    font-family: $monospace-font-family;
}

.post-meta {
    .dt-published {
        font-family: $monospace-font-family;
        font-weight: 700;
    }
    color: $brand-secondary-color;
}

.site-header {
    border-top: 0;
    min-height: $spacing-unit * 1.865;
    background: $brand-color;
    /* Old browsers */
    background: -moz-linear-gradient(top, $brand-color 0%, darken($brand-color, 10%) 50%, $brand-color 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $brand-color 0%, darken($brand-color, 10%) 50%, $brand-color 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $brand-color 0%, darken($brand-color, 10%) 50%, $brand-color 100%);
    .site-title {
        color: white;
    }
    .site-nav {
        .page-link,
        .page-link:visited {
            color: white;
        }
    }
}


.footer-col-wrapper {
    color: $brand-secondary-color;
}

