// Placeholder to allow overriding predefined variables smoothly.
$monospace-font-family: "Cousine";

$brand-secondary-color:         #828282 !default;
$brand-secondary-color-light:     lighten($brand-color, 40%) !default;
$brand-secondary-color-dark:      darken($brand-color, 25%) !default;
