---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Music works</h1>
  </header>

  <div>

    <ul class="music-works">
    {%- assign worksGroupByDate = site.pages | where: "layout", "musicwork" | group_by: "composition_date" | sort: "name" | reverse -%}
    {%- for dateGroup in worksGroupByDate -%}
      {%- assign worksByOpus = dateGroup.items | sort: "opus" | reverse -%}
      {%- for work in worksByOpus -%}
        <li style="background-image:url({{ work.url }}background.png)">
          <div class="work-title">
          {%- capture completeTitle -%}{{ work.title | escape }}, Op. {{ work.opus }}{{ work.opus_letter }} ({%- include date_format.html date=work.composition_date -%}){%- endcapture -%}

          <a class="page-link" href="{{ work.url | relative_url }}">{{ completeTitle }}</a>
          <br />
          {%- assign availableTypes = "" | split: ',' -%}
          {%- for movement in work.movements -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url key=movement.key suffix='.mp3' description='Audio available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url key=movement.key suffix='_full.pdf' description='Score available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url key=movement.key suffix='_full_parts.pdf' description='Score available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url key=movement.key suffix='_parts.pdf' description='Score available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url key=movement.key suffix='.mid' description='MIDI available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
          {%- else -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url suffix='.mp3' description='Audio available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url suffix='_full.pdf' description='Score available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url suffix='_full_parts.pdf' description='Score available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url suffix='_full_parts.pdf' description='Score available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
            {%- capture icon -%}{% include file_exists.html template='small_download_icon.html' dir=work.url suffix='.mid' description='MIDI available' %}{%- endcapture -%}
            {%- assign iconArrayed = icon | split: '@#~' -%}
            {%- assign availableTypes = availableTypes | concat: iconArrayed -%}
          {%- endfor -%}

          {%- assign availableTypes = availableTypes | uniq -%}

          {% for member in availableTypes %}
            {{ member }}
          {% endfor %}
          </div>

          {%- if work.default_audio_movement -%}
            {%- assign movement = work.movements | where: "key", work.default_audio_movement | first -%}
            {%- capture completeMovementName -%}{{completeTitle}} - {{ movement.name }}{%- endcapture -%}
            {% include file_exists.html template='audio.html' dir=work.url key=work.default_audio_movement suffix='.mp3' description=movement.name %}
          {%- else -%}
            {%- for movement in work.movements -%}
              {%- capture movementAudioPlayer -%}
                {%- capture completeMovementName -%}{{completeTitle}} - {{ movement.name }}{%- endcapture -%}
                {% include file_exists.html template='audio.html' dir=work.url key=movement.key suffix='.mp3' description=completeMovementName hide_not_found_comment=true %}
              {%- endcapture -%}
              {%- assign strippedMovementAudioPlayer = movementAudioPlayer | strip -%}
              {%- if strippedMovementAudioPlayer != "" -%}
                {{ movementAudioPlayer }}
                {%- break -%}
              {%- endif -%}
            {%- else -%}
              {% include file_exists.html template='audio.html' dir=work.url suffix='.mp3' description=completeTitle %}
            {%- endfor -%}
          {%- endif -%}

        </li>
      {%- endfor -%}
    {%- endfor -%}
    </ul>

  </div>
</article>
<script>
    GreenAudioPlayer.init({
        selector: '.player', // inits Green Audio Player on each audio container that has class "player"
        stopOthersOnPlay: true,
        showDownloadButton: false
    });
</script>

