---
# Conventions for optional files that will be shown if present:
# {folder}_{movement}.mp3 => main audio file
# {folder}_{movement}_full.pdf => PDF with full score
# {folder}_{movement}_parts.pdf => PDF with parts
# {folder}_{movement}_full_parts.pdf => PDF with full score and parts
layout: default
---
{% assign page_dir_split = page.dir | split: '/' %}
{% assign folder_idx = page_dir_split.size | minus: 1 %}
{% assign work_folder = page_dir_split[folder_idx] %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}, Op. {{ page.opus }}{{ page.opus_letter }}</h1>
  </header>

  <div class="post-content">
    {%- unless page.movements -%}
      {% include file_exists.html template='audio.html' suffix='.mp3' %}
    {%- endunless -%}

    {%- if page.composition_date -%}
      <p><b>Composition date:</b> {{ page.composition_date }}</p>
    {%- endif -%}

    {{ content }}

    {%- if page.instrumentation -%}
    <h2>Instrumentation</h2>
    <ul class="instrumentation">
    {%- for instrument in page.instrumentation -%}
        <li>{{instrument}}</li>
    {%- endfor -%}
    </ul>
    {%- endif -%}
{%- if page.movements -%}
    <h2>Movements</h2>
    {%- for movement in page.movements -%}
      <h3>{{ forloop.index }}. {{ movement.name }}</h3>

      {% include file_exists.html key=movement.key template='audio.html' suffix='.mp3' %}

      <p>{{ movement.description }}</p>

      {% include downloads.html tag='h4' key=movement.key %}

      <div style="clear: both"></div>
    {%- endfor -%}

{%- else -%}

    {% include downloads.html  tag='h2' %}

{%- endif -%}

  </div>
</article>
